* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid-wrap{
  margin: 0 auto;
}

.grid {
  margin: 0;
  padding: 0;
  margin-left: -15px;
  display:block;
zoom: 1;
position: relative;
}

[class*="span-"] {
 	position: relative;
  display: inline-block;
  padding-left: 15px;
  vertical-align: top;
*display: inline;
*zoom: 1;
}

.span-1  { width: 100%; }
.span-2  { width: 100%; }
.span-3  { width: 100%; }
.span-4  { width: 100%; }
.span-5  { width: 100%; }
.span-6  { width: 100%; }
.span-7  { width: 100%; }
.span-8  { width: 100%; }
.span-9  { width: 100%; }
.span-10 { width: 100%; }
.span-11 { width: 100%; }
.span-12 { width: 100%; }

.push-0  { left: 0; }
.push-1  { left: 0; }
.push-2  { left: 0; }
.push-3  { left: 0; }
.push-4  { left: 0; }
.push-5  { left: 0; }
.push-6  { left: 0; }
.push-7  { left: 0; }
.push-8  { left: 0; }
.push-9  { left: 0; }
.push-10 { left: 0; }
.push-11 { left: 0; }

.pull-0  { right: 0; }
.pull-1  { right: 0; }
.pull-2  { right: 0; }
.pull-3  { right: 0; }
.pull-4  { right: 0; }
.pull-5  { right: 0; }
.pull-6  { right: 0; }
.pull-7  { right: 0; }
.pull-8  { right: 0; }
.pull-9  { right: 0; }
.pull-10 { right: 0; }
.pull-11 { right: 0; }

@media screen and (max-width: 779px) {
.debug-grid:after { content: "S -779"; }

.grid-wrap { padding: 0 20px; }

.s-1  { width: 8.333%; }
.s-2  { width: 16.666%; }
.s-3  { width: 25%; }
.s-4  { width: 33.333%; }
.s-5  { width: 41.666%; }
.s-6  { width: 50%; }
.s-7  { width: 58.333%; }
.s-8  { width: 66.666%; }
.s-9  { width: 75%; }
.s-10 { width: 83.333%; }
.s-11 { width: 91.666%; }
.s-12 { width: 100%; }

.s-push-0  { left: 0; }
.s-push-1  { left: 8.333%; }
.s-push-2  { left: 16.666%; }
.s-push-3  { left: 25%; }
.s-push-4  { left: 33.333%; }
.s-push-5  { left: 41.666%; }
.s-push-6  { left: 50%; }
.s-push-7  { left: 58.333%; }
.s-push-8  { left: 66.666%; }
.s-push-9  { left: 75%; }
.s-push-10 { left: 83.333%; }
.s-push-11 { left: 91.666%; }

.s-pull-0  { right: 0; }
.s-pull-1  { right: 8.333%; }
.s-pull-2  { right: 16.666%; }
.s-pull-3  { right: 25%; }
.s-pull-4  { right: 33.333%; }
.s-pull-5  { right: 41.666%; }
.s-pull-6  { right: 50%; }
.s-pull-7  { right: 58.333%; }
.s-pull-8  { right: 66.666%; }
.s-pull-9  { right: 75%; }
.s-pull-10 { right: 83.333%; }
.s-pull-11 { right: 91.666%; }

.show-xs, .show-m, .show-l, .show-xl { display:none !important; }
.show-s { display: inline-block !important; }
}

@media screen and (max-width: 479px) {
.debug-grid:after { content: "XS -479"; }

.grid-wrap { padding: 0 10px; }

.xs-1  { width: 8.333%; }
.xs-2  { width: 16.666%; }
.xs-3  { width: 25%; }
.xs-4  { width: 33.333%; }
.xs-5  { width: 41.666%; }
.xs-6  { width: 50%; }
.xs-7  { width: 58.333%; }
.xs-8  { width: 66.666%; }
.xs-9  { width: 75%; }
.xs-10 { width: 83.333%; }
.xs-11 { width: 91.666%; }
.xs-12 { width: 100%; }

.xs-push-0  { left: 0;}
.xs-push-1  { left: 8.333%; }
.xs-push-2  { left: 16.666%; }
.xs-push-3  { left: 25%; }
.xs-push-4  { left: 33.333%; }
.xs-push-5  { left: 41.666%; }
.xs-push-6  { left: 50%; }
.xs-push-7  { left: 58.333%; }
.xs-push-8  { left: 66.666%; }
.xs-push-9  { left: 75%; }
.xs-push-10 { left: 83.333%; }
.xs-push-11 { left: 91.666%; }

.xs-pull-0  { right: 0;}
.xs-pull-1  { right: 8.333%; }
.xs-pull-2  { right: 16.666%; }
.xs-pull-3  { right: 25%; }
.xs-pull-4  { right: 33.333%; }
.xs-pull-5  { right: 41.666%; }
.xs-pull-6  { right: 50%; }
.xs-pull-7  { right: 58.333%; }
.xs-pull-8  { right: 66.666%; }
.xs-pull-9  { right: 75%; }
.xs-pull-10 { right: 83.333%; }
.xs-pull-11 { right: 91.666%; }

.show-s, .show-m, .show-l, .show-xl { display:none !important; }
.show-xs { display: inline-block !important; }
}


@media only screen and (min-width : 780px) {
.debug-grid:after { content: "Default 780+"; }
  
.grid { margin-left: -20px; }
[class*="span-"] { padding-left: 20px; }

.grid-wrap { width: 700px; }

.span-1  { width: 8.333%; }
.span-2  { width: 16.666%; }
.span-3  { width: 25%; }
.span-4  { width: 33.333%; }
.span-5  { width: 41.666%; }
.span-6  { width: 50%; }
.span-7  { width: 58.333%; }
.span-8  { width: 66.666%; }
.span-9  { width: 75%; }
.span-10 { width: 83.333%; }
.span-11 { width: 91.666%; }
.span-12 { width: 100%; }

.push-0  { left: 0; }
.push-1  { left: 8.333%; }
.push-2  { left: 16.666%; }
.push-3  { left: 25%; }
.push-4  { left: 33.333%; }
.push-5  { left: 41.666%; }
.push-6  { left: 50%; }
.push-7  { left: 58.333%; }
.push-8  { left: 66.666%; }
.push-9  { left: 75%; }
.push-10 { left: 83.333%; }
.push-11 { left: 91.666%; }

.pull-0  { right: 0; }
.pull-1  { right: 8.333%; }
.pull-2  { right: 16.666%; }
.pull-3  { right: 25%; }
.pull-4  { right: 33.333%; }
.pull-5  { right: 41.666%; }
.pull-6  { right: 50%; }
.pull-7  { right: 58.333%; }
.pull-8  { right: 66.666%; }
.pull-9  { right: 75%; }
.pull-10 { right: 83.333%; }
.pull-11 { right: 91.666%; }
}


@media only screen and (min-width : 780px) and (max-width : 999px) {
.debug-grid:after { content: "M 780-999"; }

.m-1  { width: 8.333%; }
.m-2  { width: 16.666%; }
.m-3  { width: 25%; }
.m-4  { width: 33.333%; }
.m-5  { width: 41.666%; }
.m-6  { width: 50%; }
.m-7  { width: 58.333%; }
.m-8  { width: 66.666%; }
.m-9  { width: 75%; }
.m-10 { width: 83.333%; }
.m-11 { width: 91.666%; }
.m-12 { width: 100%; }

.m-push-0  { left: 0; }
.m-push-1  { left: 8.333%; }
.m-push-2  { left: 16.666%; }
.m-push-3  { left: 25%; }
.m-push-4  { left: 33.333%; }
.m-push-5  { left: 41.666%; }
.m-push-6  { left: 50%; }
.m-push-7  { left: 58.333%; }
.m-push-8  { left: 66.666%; }
.m-push-9  { left: 75%; }
.m-push-10 { left: 83.333%; }
.m-push-11 { left: 91.666%; }

.m-pull-0  { right: 0; }
.m-pull-1  { right: 8.333%; }
.m-pull-2  { right: 16.666%; }
.m-pull-3  { right: 25%; }
.m-pull-4  { right: 33.333%; }
.m-pull-5  { right: 41.666%; }
.m-pull-6  { right: 50%; }
.m-pull-7  { right: 58.333%; }
.m-pull-8  { right: 66.666%; }
.m-pull-9  { right: 75%; }
.m-pull-10 { right: 83.333%; }
.m-pull-11 { right: 91.666%; }

.show-xs, .show-s, .show-l, .show-xl { display:none !important; }
.show-m { display: inline-block !important; }
}

@media screen and (min-width: 1000px) {
.debug-grid:after { content: "L 1000+"; }

.grid-wrap { width: 920px; }

.l-1  { width: 8.333%; }
.l-2  { width: 16.666%; }
.l-3  { width: 25%; }
.l-4  { width: 33.333%; }
.l-5  { width: 41.666%; }
.l-6  { width: 50%; }
.l-7  { width: 58.333%; }
.l-8  { width: 66.666%; }
.l-9  { width: 75%; }
.l-10 { width: 83.333%; }
.l-11 { width: 91.666%; }
.l-12 { width: 100%; }

.l-push-0  { left: 0; }
.l-push-1  { left: 8.333%; }
.l-push-2  { left: 16.666%; }
.l-push-3  { left: 25%; }
.l-push-4  { left: 33.333%; }
.l-push-5  { left: 41.666%; }
.l-push-6  { left: 50%; }
.l-push-7  { left: 58.333%; }
.l-push-8  { left: 66.666%; }
.l-push-9  { left: 75%; }
.l-push-10 { left: 83.333%; }
.l-push-11 { left: 91.666%; }

.l-pull-0  { right: 0; }
.l-pull-1  { right: 8.333%; }
.l-pull-2  { right: 16.666%; }
.l-pull-3  { right: 25%; }
.l-pull-4  { right: 33.333%; }
.l-pull-5  { right: 41.666%; }
.l-pull-6  { right: 50%; }
.l-pull-7  { right: 58.333%; }
.l-pull-8  { right: 66.666%; }
.l-pull-9  { right: 75%; }
.l-pull-10 { right: 83.333%; }
.l-pull-11 { right: 91.666%; }

.show-xs, .show-s, .show-m, .show-xl { display:none !important; }
.show-l, .hide-m { display: inline-block !important; }
}

@media screen and (min-width: 1200px) {
.debug-grid:after { content: "XL 1200+"; }

.grid-wrap { width: 1120px; }

.grid { margin-left: -30px; }
[class*="span-"] { padding-left: 30px; }

.xl-1  { width: 8.333%; }
.xl-2  { width: 16.666%; }
.xl-3  { width: 25%; }
.xl-4  { width: 33.333%; }
.xl-5  { width: 41.666%; }
.xl-6  { width: 50%; }
.xl-7  { width: 58.333%; }
.xl-8  { width: 66.666%; }
.xl-9  { width: 75%; }
.xl-10 { width: 83.333%; }
.xl-11 { width: 91.666%; }
.xl-12 { width: 100%; }

.xl-push-0  { left: 0; }
.xl-push-1  { left: 8.333%; }
.xl-push-2  { left: 16.666%; }
.xl-push-3  { left: 25%; }
.xl-push-4  { left: 33.333%; }
.xl-push-5  { left: 41.666%; }
.xl-push-6  { left: 50%; }
.xl-push-7  { left: 58.333%; }
.xl-push-8  { left: 66.666%; }
.xl-push-9  { left: 75%; }
.xl-push-10 { left: 83.333%; }
.xl-push-11 { left: 91.666%; }

.xl-pull-0  { right: 0; }
.xl-pull-1  { right: 8.333%; }
.xl-pull-2  { right: 16.666%; }
.xl-pull-3  { right: 25%; }
.xl-pull-4  { right: 33.333%; }
.xl-pull-5  { right: 41.666%; }
.xl-pull-6  { right: 50%; }
.xl-pull-7  { right: 58.333%; }
.xl-pull-8  { right: 66.666%; }
.xl-pull-9  { right: 75%; }
.xl-pull-10 { right: 83.333%; }
.xl-pull-11 { right: 91.666%; }

.hide-xl, .show-xs, .show-s, .show-m, .show-l { display:none !important; }
.show-xl { display: inline-block !important; }
}

@media screen and (min-width: 1400px) {
  .debug-grid:after { content: "1400+"; } 

  .grid-wrap { width: 1320px; }
}

@media only screen and (max-width : 479px) { .hide-xs { display: none !important; } }
@media only screen and (max-width : 779px) { .hide-s { display: none !important; } }
@media only screen and (min-width : 780px)  and (max-width : 999px)  { .hide-m { display: none !important; } }
@media only screen and (min-width : 1000px) { .hide-l { display: none !important; } }
@media only screen and (min-width : 1200px) { .hide-xl { display: none !important; } }

.no-gutter { margin-left: 0; }
.no-gutter > [class*="span-"] { padding-left: 0; }

.fixed_gutter { margin-left: -10px; }
.fixed_gutter [class*="span-"] {	padding-left: 10px; }

.grid.center { text-align: center!important; }
.grid.center [class*="span-"] { text-align: left; }

.va-middle { vertical-align: middle; }
.va-bottom { vertical-align: bottom; }

.debug-grid:after {
    position: fixed;
    right: 0.4em;
    top: 0.4em;
    line-height: 1em;
    font-size: 20px;
}